$cardBgColor: hsl(235, 46%, 20%);
$textColor: hsl(236, 100%, 87%);
$filterColor: hsl(235, 45%, 61%);

$workColor: hsl(15, 100%, 70%);
$playColor: hsl(195, 74%, 62%);
$studyColor: hsl(348, 100%, 68%);
$exerciseColor: hsl(145, 58%, 55%);
$socialColor: hsl(264, 64%, 52%);
$selfCareColor: hsl(43, 84%, 65%);
